*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;

}

:root{
    --color-primary:#302a40;
    --color-secondary:#5ab5ee;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #56616a;
    --color-grey-5: #2a2e35;
    --color-grey-6: #322d3e;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
    --hair: #1e1606;
    --shirt: beige;
    --cheeks: #F09083;
    --bg: #bddaef;
    --skin: #EEAD76;
    --shadow: #b48156;
}

.light-mode{
    --color-primary:#ffffff;
    --color-secondary:#9cd0f1;
    --color-white: #475255;
    --color-black: #ffffff;
    --color-grey0: #f8f8f8;
    --color-grey-1: #999c9f;
    --color-grey-2: #b2becd;
    --color-grey-3: #343a3e;
    --color-grey-4: #363c41;
    --color-grey-5: #2a2e35;
    --color-grey-6: #f1f8fc;
}

body{
    background-color: var(--color-primary);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s ease-in-out;
}

a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header{
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;

}

section{
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
}

.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #A67244;
}

.sec2{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #8C4820;
}

.sec3{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #59200B;
}

.sec4{
    display: none;
    transform: translateY(0) scale(1);
    // background-color: #8C837B;
}

.active{
    display: block;
    // animation: scaleAnim 1s ease-in-out; //scaleAnim is name of keyframe
    // // @keyframes scaleAnim {
    // //     0%{ //top of the page
    // //         transform: translateY(-100%) scaleY(0)
    // //     }

    // //     100%{ //bottom of the page
    // //         transform: translateY(0) scaleY(1);
    // //     }
    // // }
}

//Controls
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%);
    .active-btn{
        background-color: var(--color-secondary) !important;
        transition: all .6s ease-in-out;
        i{
            color: var(--color-white) !important;
        }
    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-grey-4);
        width: 55px;
        height: 55px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem 0;
        box-shadow: var(--box-shadow-1);
        i{
            font-size: 1.2rem;
            color: var(--color-grey-2);
            pointer-events: none; 
        }
    }
}

// .controls > .active-btn > i{
//         color: var(--color-white) !important;
// }

.theme-btn{
    top: 5%;
    right: 3%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-grey-4);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 15px rgba(0,0,0,.3);
    transition: all .1s ease-in-out;
    &:active{
        transform: translateY(-3px);
    }
    i{
        font-size: 1.4rem;
        color: var(--color-grey-2);
        pointer-events: none;
    }
}

// headder content --------------------------

#profile-img{
    height: 500px;
}

.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    .left-header{
        display: flex;
        align-items: center;
        position: relative;
        .h-shape{
            transition: all .4s ease-in-out;
            width: 65%;
            height: 100%;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
            clip-path: polygon(0% 0%, 76% 0%, 100% 100%, 0% 100%);
        }
// Profile Image ----------
        .image{
            margin-left: 13rem;
            transition: all .4s ease-in-out;
            img{
                border-radius: var(--br-sm-2);
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all .2s ease-in-out;
                filter: grayscale(100%);
            
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }

    .right-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 15rem;
        .name{
            font-size: 3rem;
            span{
                color: var(--color-secondary);
            }
        }
        p{
            margin: 1.5rem 0;
            line-height: 2rem;
        }
    }
}

// About

.about-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    .right-about{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        padding-left: 50px;
        .about-item{
            overflow: hidden;  
            width: 450px;
            }
                img{
                height: 450px;
                border: 1px solid var(--color-grey-5);
                border-radius: 5px;
                transition: all .4s ease-in-out;
                box-shadow: 1px 2px 15px rgba(0,0,0,.1);
                &:hover{
                cursor:default;
                transform: translateY(-7px);
                }
        }
    }

    .left-about{
        padding-right: 2rem;
        p{
            color: var(--color-grey-1);
            padding-bottom: 2rem;
        }
        h4{
            font-size: 2rem;
            text-transform: uppercase;
        }
    }
}

.about-stats{
    padding-bottom: 4rem;
    .progress-bars{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        .progress-bar{
            display: flex;
            flex-direction: column;
            .prog-title{
                text-transform: uppercase;
                font-weight: 500;

            }
            .progress-con{
                display: flex;
                align-items: center;
                .prog-text{
                    color: var(--color-grey-2);
                }
                .progress{
                    width: 100%;
                    height: .45rem;
                    background-color: var(--color-grey-4);
                    margin-left: 1rem;
                    position: relative;
                    span{
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-secondary);
                        transition: all .4s ease-in-out;
                        width: 80%;
                        }
                    .html{
                        width: 89%;
                    }
                    .css{
                        width: 90%;   
                    }
                    .javascript{
                        width: 85%;
                    }
                    .python{
                        width: 88%;
                    }
                }
            }
        }

    }
}

.stat-title{
    text-transform: uppercase;
    font-size: 1.4rem;
    text-align: center;
    padding: 3.5rem 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        width: 40%;
        height: 1px;
        background-color: var(--color-grey-3);
        transform: translateX(-50%);
    }
}

//Timeline
.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item{
        position: relative;
        padding-left: 3rem;
        border-left: 1px solid var(--color-grey-1);
        .tl-icon{
            position: absolute;
            left: -27px;
            top: 0;
            background-color: var(--color-secondary);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            i{
                font-size: 1.4rem;
            }
        }
        .tl-duration{
            padding: .2rem .6rem;
            background-color: grey;
            border-radius: 15px;
            display: inline-block;
            font-size: .8rem;
            text-transform: uppercase;
            font-weight: 500;

        }
        h5{
            padding: 1rem 0;
            text-transform: uppercase;
            font-size: 3 rem; 
            font-weight: 600;
            span{
                columns: var(--color-grey-2);
                font-weight: 500;
                font-size: 1rem;
                color: lightblue;
            }   
        }
        p{
             color: var(--color-grey-2);
             font-size: .8rem;
        }
    }
}

//Portfolio
.port-text{
    padding: 2rem 0;
    text-align: center;

}

.portfolios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;
    .portfolio-item{
        position: relative;
        border-radius: 15px;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 15px;
        }
        .hover-items{
            width: 100%;
            height: 300px;
            background-color: var(--color-secondary);
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 0.5;
            scale: 0;
            transform: scale(0);
            transition: all .4s ease-in-out;
            h3{
                font-size: 1.5rem;
                color: var(--color-white);
                align-items: center;
                padding-bottom: 1rem;
            }
            .icons{
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                    background-color: var(--color-primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    cursor: pointer;
                    transition: all .4s ease-in-out;

                    i{
                        font-size: 1.5rem;
                        color: var(--color-white);
                        margin: 0 1rem; 
                    }

                    &:hover{
                        background-color: var(--color-white);
                        i{
                            color: var(--color-primary);
                        }
                    }
                }
            }    
        }
    }
}

.portfolio-item:hover .hover-items{
    opacity: 0.9;
    scale: 1;
    transform: scale(1);
}

//Contact section
.contact-content-con{
    display: flex;
    padding-top: 3.5rem;
    .left-contact{
        flex: 2;
        h4{
            margin-top: 1rem;
            font-size: 1.5rem;
            color: var(--color-secondary);
        }
        p{
            margin-top: 3rem;
            margin-bottom: 1rem;
            line-height: 2rem;
            padding-right: 2.5rem;
        }
        
    }

    .contact-icon{
        display: flex;
        margin-top: 2rem;
        a{
            display: flex;
            align-items: center;
            color: var(--color-white);
            background-color:var(--color-grey-6);
            cursor: pointer;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 .4rem;
            transition: all .4s ease-in-out;
            &:hover{
                background-color: var(--color-secondary);
                i{
                    color: var(--color-primary);
                }
            }
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.3rem;
            }
        }
    }
    
    .right-contact{
        flex: 3;
        .input-control{
            margin: 1.5rem 0;
            input, textarea{
                border-radius: 30px;
                font-weight: inherit;
                font-size: inherit;
                font-family: inherit;
                padding: .8rem 1.1rem;
                outline: none;
                border: none;
                background-color: var(--color-grey-6);
                width: 100%;
                color: var(--color-white);
                resize: none;
                
                
            }
        }
        .i-c-2{
            display: flex;
            :last-child{
                margin-left: 1.5rem;
            }
        }
        .submit-btn{
            display: flex;
            justify-content: flex-start;
        }
    }
}


//Independent  Components-----------
.btn-con{
    display: flex;
    align-self: flex-start;
}
.main-btn{
    border-radius: 30px;
    color: inherit;
    font-weight: 600;
    position: relative;
    border: 1px solid var(--color-secondary);
    display: flex;
    align-items: center;
    overflow: hidden;
    .btn-text{
        padding: 0 2rem;
        white-space: nowrap;
    }
    .btn-icon{
        background-color: var(--color-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        padding: 1rem;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all .4s ease-out;
        z-index: -1;
    }
    &:hover{
        &::before{
            width: 100%;
            height: 100%;
            background-color: var(--color-secondary);
            transform: translateX(0);
        }
    }
}

.main-title{
    text-align: center;
    h2{
        position: relative;
        text-transform: uppercase;
        font-size: 4rem;
        font-weight: 700;
        span{
            color: var(--color-secondary);
        }
        .bg-text{
            position: absolute;
            top: 50%;
            left: 50%;
            color: var(--color-grey-6);
            transition: all .4s ease-in-out;
            z-index: -1;
            transform: translate(-50%, -50%);
            font-weight: bolder;
            font-size: 5.5rem;
        }
    }
}

//------mini me-------------


.avatar-con{
    border: 1px solid red;
    width: 400px;
    height: 400px;
    margin-right: 25px;
    position: relative;
    
    .blue-bg{
        min-width: 100%;
        background-color: var(--bg);
        height: 100%;
        border-radius: 50%;
        left: 0;
        top: 0;
        box-shadow: 0 40px 120px rgba(0,0,0,.3);
        overflow: hidden;

        .shirt{
            background-color: var(--shirt);
            height: 85px;
            width: 67%;
            position: relative;
            left: 5rem;
            bottom: -22rem;
            border-radius: 50%;
            transform: skewX(-12deg) scaleY(2);
            overflow: hidden;
            .button{
                background-color: var(--color-secondary);
                width: 14px;
                height: 7px;
                position: relative;
                left: 116px;
                top: 8px;
                border-radius: 50%;
                margin: 8px;
            }
                
        }
        .neck{
            width: 17%;
            height: 7rem;
            background-color: var(--skin);
            position: relative;
            border-radius: inherit;
            top: 8.5rem;
            left: 12rem;
            z-index: 1;
            .neckshadow{
                width: 0;
                height: 0;
                border-bottom: 126px solid transparent;
                border-left: 52px solid var(--shadow);
                border-bottom-left-radius: 50%;
                position: relative;
                bottom: 3px;
                right: 6px;
                transform: skewX(19deg) scaleY(1);
            
            }
        }

        .head{
            width: 19rem;
            height: 19rem;
            background-color: var(--skin);
            border-radius: 50%;
            position: absolute;
            bottom: 7rem;
            left: 4rem;
            z-index: 10;
            .eyebrow1{
                position: relative;
                left: 6rem;
                width: 25px;
                height: 12px;
                background-color: var(--color-black);
                border-top-left-radius: 9rem;
                border-top-right-radius: 10rem;
                transform: skew(0, -36deg);
                top: 6rem;
                
            }
            .eyebrow2{
                position: relative;
                width: 25px;
                height: 12px;
                background-color: var(--color-black);
                border-top-left-radius: 9rem;
                border-top-right-radius: 10rem;
                transform: skew(0, 29deg);
                top: 5rem;
                left: 16rem;
            }
            .eye{
                position: relative;
                top: 50%;
                left: 8rem;
                transform: translate(-50%, -50%);
                width: 25px;
                height: 30px;
                background-color: var(--color-black);
                border-radius: 50%;
                margin-right: 6rem;
                display: inline-table;
            }
            .cheeks{
                position: relative;
                top: 49%;
                left: 6rem;
                width: 51px;
                height: 30px;
                background-color: var(--cheeks);
                border-radius: 50%;
                margin-right: 6rem;
                display: inline-table;
                transform: skew(-9deg, 1deg);
            }
            .mouth1{
                position: absolute;
                top: 11rem;
                left: 11rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                box-shadow: 0 24px 0 0 rgb(171, 65, 83);
                transition: height 5s ease-in-out;
                &:hover{
                    box-shadow: 0 7px 0 0 rgb(171, 65, 83);
                    transition: height 5s ease-in-out;
                    
                }

            }
            .hair{
                .hair1{
                    height: 70px;
                }
        }
            }
        }
        

    }



@import './media';
